.back {
  display: none;
}

.aback {
  display: none;
}

.bback {
  display: none;
}
.cback {
  display: none;
}
.dback {
  display: none;
}
.eback {
  display: none;
}
.row  {
  text-align: center;
}
